@font-face 

{
    font-family: 'Fonte0';
    src: url(fontes/Donkin.otf);
}



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');


*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body

{
    background: #e7e7e7;
}


.topbar

{
    width: 100%;
    height: 10vh;
    min-height: 100px;
    background: #343a40;
    display: flex;
    align-items: center;
    padding: 20px;
}


.topbar h1

{
    font-family: 'Arial', 'Sans Serif';
    color: #fff;
    letter-spacing: 7px;
    font-weight: lighter;
    font-size: clamp(18px, 2vh + 2vw, 30px);
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;
}

.sidebar

{
    position: relative;
}

.sidebar .menu

{
    width: 15vw;
    min-width: 190px;
    margin-left: -1800px;
    background: #343a40;
    height: calc(100vh - 100px);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fonte0', 'Sans Serif';
    transition: .4s all ease;
    z-index: 1;

}


.sidebar .menu section

{
    width: 15vw;
    padding: 20px;
    min-width: 190px;
    display: flex;
    justify-content: end;
    position: relative;
}

.sidebar .menu section svg

{
    scale: 1.3;
    position: absolute;
    cursor: pointer;
}



.sidebar .menu a

{
    color: #fff;
    text-decoration: none;
    width: 15vw;
    min-width: 190px;
    height: 50px;
    display: grid;
    place-content: center;
    transition: .4s all ease;
    padding: 10px;
    font-family: 'Fonte0', sans-serif;
}

.sidebar .menu a:hover

{
    background: #101214;
}

.sidebar .open-menu

{
    width: 80px;
    display: flex;
    justify-content: center;
    padding: 20px;
    height: calc(100vh - 100px);
    background: #343a40;
    position: absolute;
}

.sidebar .open-menu svg 

{
    scale: 1.7;
    cursor: pointer;
}

a

{
    text-decoration: none;
}

.content

{
    width: calc(100% - 80px);
    height: calc(100vh - 100px);
    margin-left: 80px;
    padding: 60px;
    background: url(../images/background.png) no-repeat;
    background-size: 100% 100vh;
    overflow: hidden;
    position: relative;
    display: grid;
    place-content: center;
}

.content::before

{
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #000000ac;
}

.content .text h1

{
    margin-bottom: 20px;
    text-transform: uppercase;
    white-space: pre-wrap;
}


.content .text

{
    margin-top: -100px;
    text-align: center;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
}




